html{
  min-height: 100vh;
  min-width:  100vw;
  background-image:url("images/bg.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


body {
    color: white;
    /* margin: 0px;
    padding: 0px; */
/*     background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: 5000px */
    /* width: 5000px; */
/*     height: 1800px; */
  }

  .navi {
    /* border: 2px solid rgb(0, 13, 255); */
    display: block;
    /* left: 50px; */
    width: 50%;
    margin: 0px 250px;
  }

  .logo {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 60px;

    /* width:40% ; */
  }

  .logo img {
    margin: auto;
    padding: 4px 6px;
    filter: invert(100%);
    /* color: rgb(142, 27, 27); */

  }

  .logo div {
    font-family: 'Koulen', cursive;
    text-align: center;
    line-height: 25px;
    font-size: 19px;
  }

  .social_buttons {
    display: inline;
    /* border: 2px solid rgb(0, 255, 102); */
    position: absolute;
    right: 35px;
    top: 60px;
    position: fixed;
    width: 0px;
    /* padding: 0px px; */
  }

  .buttons {
    /* border: 2px solid red; */
    position: absolute;
    top: 18px;
    right: 18px;

  }

  .navbar {
    display: inline-block;
  }

  .navbar li {
    display: inline-block;
    font-size: 18px;
    font-family: 'Kdam Thmor Pro', sans-serif;


  }

  .navbar li a {
    color: rgb(212, 248, 241);
    text-decoration: none;
    padding: 0px 15px;

  }

  .navbar li a:hover {
    text-decoration:  overline  ;
    color: rgb(0, 236, 181);

  }

  .btn {
    margin: auto;
    padding: 3px 10px;
    background-color: black;
    color: rgb(171, 205, 205);
    border-radius: 4px;
    border: 2px solid rgb(81, 96, 99);
    font-size: 15px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(150, 219, 195);
    /* text-decoration: solid ; */
    color: white;

  }

  /* Style all font awesome icons */
  .fa {
    padding: 8px;
    font-size: 5px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;

  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.9;
  }

  /* Set a specific color for each brand */

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }

  .container {
    margin: 250px 40px;
    padding: 3;
    font-size: 100px;
  }

  .container span {
    color: rgb(96, 226, 185);
    font-family: 'Chonburi', cursive;
    font-size:122px;
    font-weight: bold;
    
  }
  .container h1{
    display: block;
    font-size: 20px;
    font-style: calc();
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(231, 187, 118);
  } 
